.post-type-shop_order .wp-list-table .column-order_date,
.post-type-shop_order .wp-list-table .column-order_status {
	width: 14ch
}

.post-type-shop_order .wp-list-table .column-order_number {
	width: 25ch
}

.post-type-shop_order .wp-list-table .column-order_total {
	width: 10ch;
}