form {
  background: none !important;
}

::selection {
  background: blue;
  color: white;
}

.donation-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: none;
  overflow: auto;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .4);
}

.modal-content {
  position: relative;
  margin: 15% auto;
  padding: 40px;
  width: 1000px;
  border: 1px solid #888;
  background-color: #FEFEFE;
  /*max-width: 1000px;*/
}

.close {
  position: absolute;
  right: 35px;
  width: 10px;
  height: 10px;
  color: #A42BB9;
  font-weight: 400;
  font-size: 20px;

  /*text-align: right;*/
  opacity: .8;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

html,
body {
  font-style: normal;

  /*margin: 0;*/
  /*padding: 0;*/
  font-size: 100%;

  /*height: 100%;*/
  font-family: Montserrat, serif;
}

body {
  padding-top: 0;
  background: rgb(255, 255, 255);

  /*background: linear-gradient(180deg, rgba(180, 213, 224, 1) 0%, rgba(255, 255, 255, 1) 34%, rgba(255, 255, 255, 1) 100%);*/
  background: no-repeat center 0 url("../img/donation/top.png");
}
@media (min-width: 1920px) {
  body {
    background-size: cover;
  }
}

.container {
  max-width: 1234px;
}

h3 {
  margin-bottom: 1.5em;
  color: #52B0D8;
  text-align: left;
  letter-spacing: -.05em;
  font-weight: 600;
  font-style: normal;
  font-size: 40px;
  font-family: Montserrat, serif;
  line-height: 48px;
}

h6 {
  margin-bottom: 10px;
  color: #A42BB9;
  text-transform: uppercase;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
}

p {
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  line-height: 25px;
}

.btn {
  outline: none;
  background: #A42BB9;
  text-align: center;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 32px;
}

.comment_button {
  outline: none;
  background: #A42BB9;
  color: #FFF;
  text-align: center;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 14px;
}

.logo {
  display: block;
  margin: 100px 0 80px 0;
  max-width: 300px;
}

.progress-block {
  align-items: flex-end;
  flex: 1;
  margin: 50px 0 2.5em;
}

.info {
  padding: 2em;
  border: #A42BB9 solid 20px;
  border-bottom: none;
}

.info span {
  display: block;
  margin-top: 1.5em;
  color: #A42BB9;
}

.clip .btn {
  margin-top: 2em;
  width: 300px;
  border: 0;
  line-height: 18px;
}

@media (min-width: 768px) {
  .clip {
    left: 4em;
  }
}

div.embed-responsive {
  position: relative;
  display: block;
  overflow: hidden;
  padding: 0;
  width: 100%;
  border: 5px solid #EEE;
}

.custom_progress_bar progress {
  margin-top: 27px;
  padding: 2px;
  width: 100%;
  height: 18px;
  border: 0;
  border-radius: 10rem;
  vertical-align: sub;
}
.custom_progress_bar progress::-webkit-progress-bar {
  border-radius: 10rem;
  background-color: #E9ECEF;
}
.custom_progress_bar progress::-webkit-progress-value {
  border-radius: 10rem;
  background-color: #007BFF;
}
.custom_progress_bar progress::-moz-progress-bar {
  border-radius: 10rem;
  background-color: #007BFF;
}

.progress-block__title {
  font-size: 18px;
}

.progress-block__btn {
  padding: 13px 55px;
  border: 0;
  font-size: 16px;
}

.progress-block__btn:hover::before {
  transform: translateX(5px);
}

.progress-block__btn::before {
  display: inline-block;
  margin-right: 10px;
  content: url("data:image/svg+xml,%3Csvg width='7' height='7' viewBox='0 0 7 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.992 3.28L4.768 6.592H3.376L5.104 3.872H0V2.704H5.104L3.376 0H4.768L6.992 3.28Z' fill='white'/%3E%3C/svg%3E");
  transition: transform .3s ease-in-out;
}

.price-wrapper {
  float: left;
  overflow: hidden;
  cursor: pointer;
}

.variation-price-text p::selection {
  background: none;
  color: #000;
  /*user-select: none;*/
  /*-webkit-user-select: none;*/
  /*-ms-user-select: none;*/
  /*-webkit-touch-callout: none;*/
  /*-o-user-select: none;*/
  /*-moz-user-select: none;*/
}

.price-wrapper.active {
  background: linear-gradient(57.38deg, #9AD7EE 0%, #D195DC 92.86%);
}

.price-wrapper label {
  display: block;

  /*padding: 20px;*/
  margin-bottom: 0;
}

.price-wrapper label .variation-price-text {
  display: block;

  /*padding: 20px;*/
  width: 130px;
  height: 70px;
  background: linear-gradient(
          57.38deg,
          rgba(154, 215, 238, .1) 0%,
          rgba(209, 149, 220, .1) 92.86%
  );
  text-align: center;
  line-height: 70px;
}

.price-wrapper label input[type="radio"] {
  display: none;
}

.price-wrapper input[type="radio"]:checked + .variation-price-text {
  background-color: #F9F6FC;
  color: #3C5D90;
  font-size: 22px;
  transform: scale(.8, .6);
}

.add-to {
  color: #FFF !important;
}

.price-wrapper p {
  font-size: 16px;
}

.variations_form {
  text-align: center !important;
}

.modal-title {
  margin-top: 10px;
  color: #2C2C2C;
  letter-spacing: -.05em;
  font-weight: 500;
  font-style: normal;
  font-size: 30px; /*FIGMA : 35px */
  font-family: Montserrat;
  line-height: 120%;
}

.modal-label {
  margin-top: 25px;
  margin-left: 2px;
  color: #017BA1;
  text-transform: uppercase;
  letter-spacing: .25em; /* FIGMA 0.3em */
  font-weight: 600;
  font-style: normal;
  font-size: 14px;
  font-family: Montserrat;
  line-height: 26px;
}

.button-wrapper {
  display: block;
  float: right;
  margin-top: 100px;

  /* padding-bottom: 30px; */
  margin-right: -20px;
  margin-bottom: -134px;
  width: 550px;
  height: 160px;
  background: linear-gradient(
          57.38deg,
          rgba(154, 215, 238, .1) 0%,
          rgba(209, 149, 220, .1) 92.86%
  );
}

.form-tabs {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}
.btn.btn-small.button.add-to.form {
  margin-top: 2em;
  padding: 0;
  width: 336px;
  height: 50px;
  border: 0;
  line-height: 45px;
}
/*.form-tabs div:nth-child(1) {*/
/*  order: 4;*/
/*}*/

/*.form-tabs div:nth-child(2) {*/
/*  order: 3;*/
/*}*/

/*.form-tabs div:nth-child(3) {*/
/*  order: 0;*/
/*}*/

/*.form-tabs div:nth-child(4) {*/
/*  order: 2;*/
/*}*/

/*.form-tabs div:nth-child(5) {*/
/*  order: 1;*/
/*}*/
.price-wrapper input[type="radio"]:checked + .variation-price-text > p {
  line-height: 70px;
  transform: scale(1.25, 1.73);
}
.price-wrapper input[type="radio"] + .variation-price-text > p {
  line-height: 70px;
}

/* media */
@media (min-width: 1650px) {
  .price-wrapper input[type="radio"] + .variation-price-text > p {
    font-size: 20px;
    line-height: 95px;
  }
  .price-wrapper label .variation-price-text {
    width: 165px;
    height: 95px;
  }
  .price-wrapper input[type="radio"]:checked + .variation-price-text > p {
    line-height: 95px;
  }
  .modal-title {
    padding-top: 20px;
    padding-left: 47px;
  }
  .modal-label {
    padding-left: 47px;
  }
  .form-tabs {
    padding-right: 50px;
    padding-left: 50px;
  }
}
@media (min-width: 1200px) {
  .btn.btn-small.button.add-to.form {
    height: 45px;
    font-size: 16px;
    line-height: 45px;
  }
  .button-wrapper {
    margin-bottom: -150px;
    width: 450px;
    height: 120px;
  }
}
@media (max-width: 1199px) {
  .price-wrapper {
    margin-bottom: 20px;
  }
}

@media (max-width: 1050px) {
  .modal-content {
    width: 90%;
  }
}

@media (max-width: 767px) {
  .button-wrapper {
    float: none;
    width: 100%;
  }

  .price-wrapper {
    max-width: 200px;
    width: auto;
  }
}

@media (max-width: 550px) {
  .modal-title {
    font-size: 21px;
  }
  .modal-label {
    letter-spacing: .11em;
    font-size: 14px;
  }
  .form-tabs {
    flex-direction: row;
  }
  .price-wrapper {
    margin-bottom: 20px;
  }
  .price-wrapper input[type="radio"]:checked + .variation-price-text {
    transform: scale(.9, .7);
  }
  .price-wrapper label .variation-price-text {
    width: 200px;
  }
  .btn.btn-small.button.add-to.form {
    width: 200px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
  }
  .button-wrapper {
    margin-top: 0px;
  }
}
@media (max-width: 380px) {
  .modal-title {
    font-size: 21px;
  }
  .modal-label {
    letter-spacing: .11em;
    font-size: 14px;
  }
  .form-tabs {
    flex-direction: column;
  }
  .price-wrapper {
    margin-bottom: 20px;
  }
  .price-wrapper input[type="radio"]:checked + .variation-price-text {
    transform: scale(.9, .7);
  }

  /*.btn.btn-small.button.add-to.form {*/
  /*  font-size: 16px;*/
  /*  height: 50px;*/
  /*  line-height: 50px;*/
  /*  width: 180px;*/
  /*}*/
  .button-wrapper {
    margin-top: 0px;
  }
}

.variation-price-text-custom {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 130px;
  height: 70px;
  background: linear-gradient(
          57.38deg,
          rgba(154, 215, 238, .1) 0%,
          rgba(209, 149, 220, .1) 92.86%
  );
  text-align: center;
  line-height: 70px;
}

.cart__contacts .form-label:not(:last-child) {
  margin-right: 0;
}

.price-custom {
  position: absolute;
  top: 30%;
  left: 22%;
  display: block;
  width: 80px;
  height: 27px;

  /*margin-top: 5px;*/
  background: #FFF;
  text-align: center;
  font-size: 15px !important;
}

.price-custom::placeholder {
  color: #666;
}

.custom-text {
  line-height: 1;
}

.wlcart-payment {
  width: 25%;
}

.wlcart-payment__card {
  padding: 25px !important;
  height: 70px !important;
}

.cart-payment__input:checked + .wlcart-payment__card::after {
  border-width: 12px !important;
}

.wlbutton-wrapper {
  margin-bottom: -54px !important;
  padding-left: 20px;
  width: 45%;
  background: none !important;
}

.wlcart__contacts .form-label input {
  border: 2px solid #98DEFF;
}

.wlcart__contacts .form-label span {
  text-indent: 20px;
}

.wlcart__contacts .form-label input {
  height: 45px;
}

.wlcart__contacts .form-label:not(:last-child) {
  margin-right: 15px;
}

.wlcart-payments {
  margin-top: 30px !important;
  margin-bottom: -100px !important;
}

.wlwarninglab {
  margin-left: -15px;
  padding-top: 20px !important;
  font-size: 90%;
}

.wlwarninglab span {
  margin-right: 15px;
  padding: 0px 8px 0px 8px;
  border-radius: 50%;
  background: #A42BB9;
  color: #FFF;
}

.wlcart__contacts .form-label input.is-filled ~ span,
.wlcart__contacts input:focus ~ span {
  top: 5px;
  font-size: 12px;
  line-height: 1;
  -webkit-transform: none;
  transform: none;
}

/*.wlalert*/
/*{*/
/*  color: #155724;*/
/*  background-color: #d4edda;*/
/*  border-color: #c3e6cb;*/
/*  position: relative;*/
/*  padding: .75rem 1.25rem;*/
/*  margin-bottom: 1rem;*/
/*  border: 1px solid transparent;*/
/*  border-radius: .25rem;*/
/*  margin-top: 40px;*/
/*  margin-bottom: 40px;*/
/*  text-align: left;*/
/*}*/

/* .spinner {
  position: absolute;
  width: 30px;
  height: 30px;

  top: 50%;
  left: 50%;
  @include transform(translate(-50%, -50%));

  .blob {
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));
    border: 2px solid #fff;

    width: 10px;
    height: 10px;
    border-radius: 50%;

    &.top {
      top: 0;
      animation: blob-top 1s infinite ease-in;
    }
    &.bottom {
      top: 100%;
      animation: blob-bottom 1s infinite ease-in;
    }
    &.left {
      left: 0;
      animation: blob-left 1s infinite ease-in;
    }
  } */

.move-blob {
  top: 0;
  background: #FFF;
  animation: blob-spinner-mover 1s infinite ease-in;
}

@keyframes blob-bottom {
  25%,
  50%,
  75% {
    top: 50%;
    left: 100%;
  }
  100% {
    top: 0;
    left: 50%;
  }
}
@keyframes blob-left {
  25% {
    top: 50%;
    left: 0;
  }
  50%,
  100% {
    top: 100%;
    left: 50%;
  }
}
@keyframes blob-top {
  50% {
    top: 0;
    left: 50%;
  }
  75%,
  100% {
    top: 50%;
    left: 0;
  }
}

@keyframes blob-spinner-mover {
  0%,
  100% {
    top: 0;
    left: 50%;
  }
  25% {
    top: 50%;
    left: 100%;
  }
  50% {
    top: 100%;
    left: 50%;
  }
  75% {
    top: 50%;
    left: 0;
  }
}

.wlcart-payments2 {
  display: flex;

  /* flex-direction: row; */
  /* flex-wrap: wrap; */
  /*justify-content: stretch;*/
  justify-content: space-between;
  margin-top: -20px;
  margin-bottom: 0;
}

@media (max-width: 720px) {
  .wlcart-payments2 {
    justify-content: space-evenly;
  }
}

@media (max-width: 400px) {
  .wlcart-payments2 {
    justify-content: space-around;
  }
}

.wlcart-payment2 {
  /*width: 15%;*/
  margin-right: 12px !important;
  width: 140px;
}

.wllab {
  padding-left: 0px !important;
}

.wlcart__contacts {
  display: flex;
}

/*.wlcart__contacts .form-label*/
/*{*/
/*  width: 18%;*/
/*  float: left;*/
/*}*/

.bodypadding {
  padding: 0;
}

.wlh3 {
  margin-bottom: 1.5em !important;
  font-weight: 600 !important;
  font-size: 40px !important;
}

.wlcontainer {
  max-width: 1234px !important;
}

.wlh6 {
  font-weight: 600 !important;
  font-size: 16px !important;
}
.cart-payment__title {
  /*width: 200px !important;*/
}

.wlcart-payment2 .cart-payment__title {
  margin-top: -5px;
  font-size: 17px;
}

.wlcart__contacts span {
  font-size: 14px;
}

.wlcart-payment2 .price-custom {
  z-index: 222;
  border: 1px solid #98DEFF;
  font-size: 19px;
  /*margin: 0 auto;*/
}

.wloverlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5);
  background: rgba(0, 0, 0, .5) url(../img/donation/three-dots.svg) no-repeat
  center center;
}

.wlred {
  border: 2px solid #F00 !important;
}

.review_red {
  border: 1px solid #F00 !important;
}

.form-label {
  display: flex;
}

.form-label input {
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 16px;
}

@media (max-width: 1342px) {
  /*.wlcart-payment2 {*/
  /*  width: 14%;*/
  /*}*/

  /*.wlcart-payment2 .cart-payment__title {*/
  /*  font-size: 12px;*/
  /*}*/

  /*.wlcart-payment2 .price-custom {*/
  /*  width: 100%;*/
  /*}*/

  /*.wlcart-payment2 .custom-text {*/
  /*  margin-left: -10px;*/

  /*}*/
  /*.wlcart__contacts .form-label {*/
  /*  width: 17%;*/
  /*}*/

  .wlwarninglab {
    display: none;
  }

  .wlbutton-wrapper .btn {
    width: 90% !important;
    font-size: 14px;
  }

  .wlbutton-wrapper {
    width: 40%;
  }

  /*.wlcart-payment .cart-payment__title {*/
  /*  line-height: 100%;*/

  /*}*/
}

@media (max-width: 900px) {
  /*.wlcart-payment2 {*/
  /*  width: 25%;*/
  /*}*/

  .cart-payment__title {
    /*width: 200px !important;*/
  }

  .cart-payment__title_bottom {
    width: 200px !important;
  }

  .wlcart-payment2 .cart-payment__title {
    font-size: 17px;
  }

  .wlcart-payment__card .custom-text {
    font-size: 100% !important;
  }

  .wlcart-payment {
    width: 100%;
  }

  .wlbutton-wrapper .wlsubmit {
    width: 100% !important;
  }

  .wlbutton-wrapper {
    margin-left: 0;
    padding-left: 0;
    width: 100%;
  }

  .wlwarninglab {
    display: none;
  }

  .wlcart__contacts {
    display: block;
  }

  .cart__contacts .form-label:not(:last-child) {
    margin-right: 0;
  }

  /*.wlcart-payment__card .price-custom*/
  /*{*/
  /*  width: 50%;*/
  /*}*/

  .wlcart-payment__card .custom-text {
    margin-top: 0 !important;
  }

  /*.wlcart-payment2 .price-custom {*/

  /*  !*margin-left: 10px;*!*/
  /*  width: 80px;*/
  /*}*/

  .wlcart-payment__card {
    margin-bottom: 16px;
    /*-webkit-box-orient: horizontal;*/
    /*-webkit-box-direction: normal;*/
    /*-ms-flex-direction: row;*/
    /*flex-direction: row;*/
    /*-webkit-box-pack: start;*/
    /*-ms-flex-pack: start;*/
    /*justify-content: flex-start;*/
    /*-webkit-box-align: center;*/
    /*-ms-flex-align: center;*/
    /*align-items: center;*/
  }

  .wlcart-payments {
    margin-bottom: -30px !important;
  }

  /*.wlcart-payment2 .price-custom {*/

  /*  !*margin-left: 10px;*!*/
  /*  height: 27px;*/
  /*}*/
}

.wlfixed {
  overflow: hidden;
}

.comment_link {
  margin-left: 10px;
  color: #3C5D90 !important;
}

.review_form {
  padding: 44px;
}

.review_form input[type="text"],
.review_form textarea {
  border: 1px solid #BED6E1;
  background-color: #FFF;
}

.review_form input[type="text"] {
  margin: 10px 0;
  padding: 0 10px;
  width: 100%;
  height: 40px;
}

.review_form input[type="text"]:nth-child(1) {
  margin-top: 0;
}

.review_form input[type="text"]:nth-child(2) {
  margin-bottom: 0;
}

.review_form input[type="text"]::placeholder,
.review_form textarea::placeholder {
  color: #606876;
  font-size: 14px !important;
}

.review_form textarea {
  position: absolute;
  right: 0;
  display: inline-block;
  padding: 10px;
  width: 65%;
  height: 100%;
}

.review_form input[type="text"]:focus,
.review_form textarea:focus {
  -webkit-box-shadow: 0px 0px 13px 9px rgba(190, 214, 225, .15);
  box-shadow: 0px 0px 13px 9px rgba(190, 214, 225, .15);
}

.review_form_input_block {
  display: inline-block;
  width: 30%;
}

.donation_comment_block {
  margin-left: 27px;
}

.comment_block_fields {
  position: relative;
}

.comment_name {
  position: relative;
  display: inline-block;
}

.comment_name:before {
  position: absolute;
  left: -27px;
  content: url("../img/donation/comment-icon.svg");
}

.comment_date {
  display: inline-block;
  margin-top: 10px;
  color: #777;
}
/*@media (max-width: 600px) {*/
/*  .comment_date {*/
/*    margin-top: 10px;*/
/*  }*/
/*}*/

.comment_content {
  margin-top: 23px;
  margin-bottom: 35px;
  color: #222;
}

.comment_form_block {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  background: #F6F6F6 !important;
  opacity: 0;
}

.comment_form_close {
  cursor: pointer;
}

.comment_close {
  position: absolute;
  top: 20px;
  right: 20px;
  display: block;
  width: 20px;
  text-align: center;
  cursor: pointer;
}

.comment_form_close {
  position: absolute;
  top: 10px;
  right: 10px;
  display: block;
  width: 20px;
  text-align: center;
  cursor: pointer;
}

.open_comment_form_button {
  margin-top: 30px;
  width: 373px;
  height: 53px;
}

.review_popup {
  display: none;
  max-width: 1230px;
  width: 60%;
}

@media (max-width: 768px) {
  .review_popup {
    width: 90%;
  }
}

@media (max-width: 500px) {
  .open_comment_form_button {
    width: 100%;
  }
}

.donation_comments {
  overflow: scroll;
  height: 300px;
}

.donation_comments::-webkit-scrollbar {
  width: 7px;

  -webkit-appearance: none;
}

.donation_comments::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.wlwarninglab {
  display: none;
}

.donation_comment_title {
  margin-bottom: 40px;
  font-size: 26px;
}

@media (max-width: 768px) {
  .comment_block_fields {
    text-align: center;
  }
  .review_form_input_block {
    width: 70%;
  }
  .review_form textarea {
    position: static;
    margin-top: 20px;
    width: 70%;
  }
  .review_form {
    text-align: center;
  }
}

@media (max-width: 500px) {
  .review_form_input_block {
    width: 100%;
  }
  .review_form textarea {
    width: 100%;
  }
}

.comments_link {
  margin-top: 40px;
  margin-left: 5px;
}

.comments_link svg {
  width: 19px;
  color: transparent;
}

.success_comment_message {
  position: absolute;
  top: 5%;
  display: none;

  /*left: 50%;*/
  /*transform: translate(-50%, 0);*/
  width: 100%;
  text-align: center;
}

.donation_raw {
  margin-bottom: 55px;
  padding-bottom: 55px;
  border-bottom: 1px dashed #C4C4C4;
}
