form {
  background: none !important;
}

::selection {
  color: white;
  background: blue;
}


.donation-modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}


.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 40px;
  border: 1px solid #888;
  width: 1000px;
  position: relative;
  /*max-width: 1000px;*/
}

.close {
  color: #A42BB9;
  font-size: 20px;
  font-weight: 400;
  /*text-align: right;*/
  opacity: .8;
  width: 10px;
  height: 10px;
  position: absolute;
  right: 35px;

}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

html, body {
  /*height: 100%;*/
  font-family: Montserrat, serif;
  font-style: normal;
  /*margin: 0;*/
  /*padding: 0;*/
  font-size: 100%;
}

body {
  padding-top: 0;
  background: rgb(255, 255, 255);
  /*background: linear-gradient(180deg, rgba(180, 213, 224, 1) 0%, rgba(255, 255, 255, 1) 34%, rgba(255, 255, 255, 1) 100%);*/
  background: no-repeat center 0 url("../img/donation/top.png");

}
@media (min-width: 1920px) {
  body {
    background-size: cover;
  }
}

.container {
  max-width: 1234px
}

h3 {
  color: #52B0D8;
  font-family: Montserrat, serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: -0.05em;
  text-align: left;
  margin-bottom: 1.5em;

}

h6 {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  color: #A42BB9;
  text-transform: uppercase;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 25px;


}

.btn {
  background: #A42BB9;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  outline: none;
}

.comment_button {
  background: #A42BB9;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  text-align: center;
  outline: none;
  color: #fff;
}


.logo {
  display: block;
  margin: 100px 0 80px 0;
  max-width: 300px;
}

.progress-block {
  margin: 1.5em 0 2.5em;
}

@media (max-width: 768px) {
  .progress-block {
    width: 90% !important;
    max-width: 90% !important;
    flex: 0 0 100% !important;
  }
}

.info {
  border: #A42BB9 solid 20px;
  padding: 2em;
  border-bottom: none;
}

.info span {
  display: block;
  margin-top: 1.5em;
  color: #A42BB9;
}


.clip .btn {
  margin-top: 2em;
  width: 300px;
  line-height: 18px;
  border: 0;
}


@media (min-width: 768px) {
  .clip {
    left: 4em;
  }
}

div.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
  border: 5px solid white;
}

.custom_progress_bar progress {
  border-radius: .25rem;
  width: 100%;
  margin-top: 20px;
}
.custom_progress_bar progress::-webkit-progress-bar {
  background-color: #e9ecef;
  border-radius: .25rem;
}
.custom_progress_bar progress::-webkit-progress-value {
  background-color: #007bff;
  border-radius: .25rem;
}

.price-wrapper {
  overflow: hidden;
  float: left;
  cursor: pointer;
}

.variation-price-text p::selection {
  color: #000;
  background: none;
  /*user-select: none;*/
  /*-webkit-user-select: none;*/
  /*-ms-user-select: none;*/
  /*-webkit-touch-callout: none;*/
  /*-o-user-select: none;*/
  /*-moz-user-select: none;*/


}

.price-wrapper.active {
  background: linear-gradient(57.38deg, #9AD7EE 0%, #D195DC 92.86%);
}

.price-wrapper label {
  /*padding: 20px;*/
  margin-bottom: 0;
  display: block;
}

.price-wrapper label .variation-price-text {
  background: linear-gradient(57.38deg, rgba(154, 215, 238, 0.1) 0%, rgba(209, 149, 220, 0.1) 92.86%);
  text-align:center;
  display:block;
  /*padding: 20px;*/
  width: 130px;
  height: 70px;
  line-height: 70px;
}



.price-wrapper label input[type='radio'] {
  display: none;
}

.price-wrapper input[type='radio']:checked + .variation-price-text {
  color: #3C5D90;
  transform: scale(0.8, 0.6);
  font-size: 22px;
  background-color: #f9f6fc;
}

.add-to {
  color: #fff !important;
}

.price-wrapper p {
  font-size: 16px;
}

.variations_form {
  text-align: center !important;
}

.modal-title {
  margin-top: 10px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 30px; /*FIGMA : 35px */
  line-height: 120%;
  letter-spacing: -0.05em;
  color: #2C2C2C;
}

.modal-label {
  margin-left: 2px;
  margin-top: 25px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.25em; /* FIGMA 0.3em */
  text-transform: uppercase;
  color: #017BA1;
}

.button-wrapper {
  height: 160px;
  width: 550px;
  display: block;
  float: right;
  background: linear-gradient(
          57.38deg
          , rgba(154, 215, 238, 0.1) 0%, rgba(209, 149, 220, 0.1) 92.86%);
  margin-top: 100px;
  margin-bottom: -134px;
  /* padding-bottom: 30px; */
  margin-right: -20px;
}

.form-tabs {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}
.btn.btn-small.button.add-to.form {
  height: 50px;
  margin-top: 2em;
  width: 336px;
  line-height: 45px;
  border: 0;
  padding: 0
}
/*.form-tabs div:nth-child(1) {*/
/*  order: 4;*/
/*}*/

/*.form-tabs div:nth-child(2) {*/
/*  order: 3;*/
/*}*/

/*.form-tabs div:nth-child(3) {*/
/*  order: 0;*/
/*}*/

/*.form-tabs div:nth-child(4) {*/
/*  order: 2;*/
/*}*/

/*.form-tabs div:nth-child(5) {*/
/*  order: 1;*/
/*}*/
.price-wrapper input[type='radio']:checked + .variation-price-text > p {
  transform: scale(1.25, 1.73);
  line-height: 70px;
}
.price-wrapper input[type='radio'] + .variation-price-text > p {
  line-height: 70px;
}

/* media */
@media (min-width: 1650px) {
  .price-wrapper input[type='radio'] + .variation-price-text > p {
    line-height: 95px;
    font-size: 20px;
  }
  .price-wrapper label .variation-price-text {
    width: 165px;
    height: 95px;
  }
  .price-wrapper input[type='radio']:checked + .variation-price-text > p {
    line-height: 95px;
  }
  .modal-title {
    padding-top: 20px;
    padding-left: 47px;
  }
  .modal-label {
    padding-left: 47px;
  }
  .form-tabs {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (min-width: 1200px) {
  .btn.btn-small.button.add-to.form {
    height: 45px;
    line-height: 45px;
    font-size: 16px;
  }
  .button-wrapper {
    height: 120px;
    width: 450px;
    margin-bottom: -150px;
  }
}
@media (max-width: 1199px) {
  .price-wrapper {
    margin-bottom: 20px;
  }
}


@media (max-width: 1050px) {
  .modal-content {
    width: 90%;
  }
}


@media (max-width: 767px) {
  .button-wrapper {
    width: 100%;
    float: none;

  }


  .price-wrapper {
    max-width: 200px;
    width: auto;
  }

}






@media (max-width: 550px) {
  .modal-title {
    font-size: 21px;
  }
  .modal-label {
    font-size: 14px;
    letter-spacing: 0.11em;
  }
  .form-tabs {
    flex-direction: row;
  }
  .price-wrapper {
    margin-bottom: 20px;
  }
  .price-wrapper input[type='radio']:checked + .variation-price-text {
    transform: scale(0.9, 0.7);
  }
  .price-wrapper label .variation-price-text {
    width: 200px;
  }
  .btn.btn-small.button.add-to.form {
    font-size: 16px;
    height: 50px;
    line-height: 50px;
    width: 200px;
  }
  .button-wrapper {
    margin-top: 0px;
  }
}
@media (max-width: 380px) {
  .modal-title {
    font-size: 21px;
  }
  .modal-label {
    font-size: 14px;
    letter-spacing: 0.11em;
  }
  .form-tabs {
    flex-direction: column;
  }
  .price-wrapper {
    margin-bottom: 20px;
  }
  .price-wrapper input[type='radio']:checked + .variation-price-text {
    transform: scale(0.9, 0.7);
  }

  /*.btn.btn-small.button.add-to.form {*/
  /*  font-size: 16px;*/
  /*  height: 50px;*/
  /*  line-height: 50px;*/
  /*  width: 180px;*/
  /*}*/
  .button-wrapper {
    margin-top: 0px;
  }

}

.variation-price-text-custom {
  background: linear-gradient(57.38deg, rgba(154, 215, 238, 0.1) 0%, rgba(209, 149, 220, 0.1) 92.86%);
  text-align:center;
  width: 130px;
  height: 70px;
  line-height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cart__contacts .form-label:not(:last-child) {
  margin-right: 0;
}

.price-custom {
  font-size: 15px !important;
  display: block;
  width: 80px;
  height: 27px;
  text-align: center;
  /*margin-top: 5px;*/
  background: #fff;
  position: absolute;
  left: 22%;
  top: 30%;
}

.price-custom::placeholder {
  color: #666;
}

.custom-text {
  line-height: 1;
}


.wlcart-payment
{
  width: 25%;
}

.wlcart-payment__card
{
  height: 70px !important;
  padding: 25px !important;
}

.cart-payment__input:checked + .wlcart-payment__card::after {
  border-width: 12px  !important;
}

.wlbutton-wrapper
{
  background: none  !important;
  margin-bottom: -54px  !important;
  padding-left: 20px;
  width: 45%;
}

.wlcart__contacts .form-label input
{
  border: 2px solid #98DEFF;
}

.wlcart__contacts .form-label span {
  text-indent: 20px;
}

.wlcart__contacts .form-label input
{
  height: 45px;
}

.wlcart__contacts .form-label:not(:last-child) {
  margin-right: 15px;
}

.wlcart-payments
{
  margin-top: 30px  !important;
  margin-bottom: -100px  !important;
}

.wlwarninglab
{
  padding-top: 20px  !important;
  font-size: 90%;
  margin-left: -15px;
}

.wlwarninglab span
{
  background: #A42BB9;
  color: #fff;
  border-radius: 50%;
  padding: 0px 8px 0px 8px;
  margin-right: 15px;
}





.wlcart__contacts .form-label input.is-filled ~ span, .wlcart__contacts input:focus ~ span {
  top: 5px;
  font-size: 12px;
  line-height: 1;
  -webkit-transform: none;
  transform: none;
}

/*.wlalert*/
/*{*/
/*  color: #155724;*/
/*  background-color: #d4edda;*/
/*  border-color: #c3e6cb;*/
/*  position: relative;*/
/*  padding: .75rem 1.25rem;*/
/*  margin-bottom: 1rem;*/
/*  border: 1px solid transparent;*/
/*  border-radius: .25rem;*/
/*  margin-top: 40px;*/
/*  margin-bottom: 40px;*/
/*  text-align: left;*/
/*}*/





.spinner {
  position: absolute;
  width: 30px;
  height: 30px;

  top: 50%;
  left: 50%;
@include transform(translate(-50%, -50%));

.blob {
  position: absolute;
  top: 50%;
  left: 50%;
@include transform(translate(-50%, -50%));
  border: 2px solid #fff;

  width: 10px;
  height: 10px;
  border-radius: 50%;

&.top {
   top: 0;
   animation: blob-top 1s infinite ease-in;
 }
&.bottom {
   top: 100%;
   animation: blob-bottom 1s infinite ease-in;
 }
&.left {
   left: 0;
   animation: blob-left 1s infinite ease-in;
 }
}

.move-blob {
  background: #fff;
  top: 0;

  animation: blob-spinner-mover 1s infinite ease-in;
}
}

@keyframes blob-bottom {
  25%, 50%, 75% {
    top: 50%;
    left: 100%;
  }
  100% {
    top: 0;
    left: 50%;
  }
}
@keyframes blob-left {
  25% {
    top: 50%;
    left: 0;
  }
  50%, 100% {
    top: 100%;
    left: 50%;
  }
}
@keyframes blob-top {
  50% {
    top: 0;
    left: 50%;
  }
  75%, 100% {
    top: 50%;
    left: 0;
  }
}

@keyframes blob-spinner-mover {
  0%, 100% {
    top: 0;
    left: 50%;
  }
  25% {
    top: 50%;
    left: 100%;
  }
  50% {
    top: 100%;
    left: 50%;
  }
  75% {
    top: 50%;
    left: 0;
  }
}


.wlcart-payments2 {
  margin-top: -20px;
  margin-bottom: 0;

  display: flex;
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
  /*justify-content: stretch;*/
  justify-content: space-between;
}

@media (max-width: 720px) {
  .wlcart-payments2 {
    justify-content: space-evenly;
  }
}

@media (max-width: 400px) {
  .wlcart-payments2 {
    justify-content: space-around;
  }
}




.wlcart-payment2 {
  /*width: 15%;*/
  margin-right: 12px !important;
  width: 140px
}



.wllab
{
  padding-left: 0px !important;
}

.wlcart__contacts
{
  display: flex;
}

/*.wlcart__contacts .form-label*/
/*{*/
/*  width: 18%;*/
/*  float: left;*/
/*}*/



.bodypadding {
  padding: 0;
}

.wlh3 {
  font-size: 40px !important;
  font-weight: 600 !important;
  margin-bottom: 1.5em !important;
}

.wlcontainer {
  max-width: 1234px !important;
}


.wlh6 {
  font-size: 16px !important;
  font-weight: 600 !important;
}
.cart-payment__title {
  /*width: 200px !important;*/
}

.wlcart-payment2 .cart-payment__title
{
  margin-top: -5px;
  font-size: 17px;

}

.wlcart__contacts span
{
  font-size: 14px;
}

.wlcart-payment2 .price-custom
{
  font-size: 19px;
  border: 1px solid #98DEFF;
  z-index: 222;
  /*margin: 0 auto;*/

}

.wloverlay
{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, .5);
  z-index: 10000;
  background: rgba(0, 0, 0, .5) url(../img/donation/three-dots.svg) no-repeat center center;
}

.wlred
{
  border: 2px solid #F00 !important;
}

.review_red {
  border: 1px solid #F00 !important;
}

.form-label {
  display: flex;
}

.form-label input
{
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 16px;
}

@media (max-width: 1342px) {

  /*.wlcart-payment2 {*/
  /*  width: 14%;*/
  /*}*/

  /*.wlcart-payment2 .cart-payment__title {*/
  /*  font-size: 12px;*/
  /*}*/

  /*.wlcart-payment2 .price-custom {*/
  /*  width: 100%;*/
  /*}*/

  /*.wlcart-payment2 .custom-text {*/
  /*  margin-left: -10px;*/

  /*}*/
  /*.wlcart__contacts .form-label {*/
  /*  width: 17%;*/
  /*}*/

  .wlwarninglab
  {
    display: none;
  }

  .wlbutton-wrapper .btn
  {
    width: 90% !important;
    font-size: 14px;
  }

  .wlbutton-wrapper {

    width: 40%;

  }

  /*.wlcart-payment .cart-payment__title {*/
  /*  line-height: 100%;*/

  /*}*/

}

@media (max-width: 900px) {

  /*.wlcart-payment2 {*/
  /*  width: 25%;*/
  /*}*/

  .cart-payment__title {
    /*width: 200px !important;*/
  }

  .cart-payment__title_bottom {
    width: 200px !important;
  }

  .wlcart-payment2 .cart-payment__title {
    font-size: 17px;
  }

  .wlcart-payment__card .custom-text {
    font-size: 100% !important;
  }

  .wlcart-payment {
    width: 100%;
  }

  .wlbutton-wrapper .wlsubmit
  {
    width: 100% !important;
  }

  .wlbutton-wrapper
  {
    width: 100%;
    margin-left: 0;
    padding-left: 0;
  }

  .wlwarninglab
  {
    display: none;
  }

  .wlcart__contacts {
    display: block;
  }

  .cart__contacts .form-label:not(:last-child) {
    margin-right: 0;
  }

  /*.wlcart-payment__card .price-custom*/
  /*{*/
  /*  width: 50%;*/
  /*}*/

  .wlcart-payment__card  .custom-text
  {
    margin-top: 0 !important;
  }


  /*.wlcart-payment2 .price-custom {*/

  /*  !*margin-left: 10px;*!*/
  /*  width: 80px;*/
  /*}*/


  .wlcart-payment__card {
    margin-bottom: 16px;
    /*-webkit-box-orient: horizontal;*/
    /*-webkit-box-direction: normal;*/
    /*-ms-flex-direction: row;*/
    /*flex-direction: row;*/
    /*-webkit-box-pack: start;*/
    /*-ms-flex-pack: start;*/
    /*justify-content: flex-start;*/
    /*-webkit-box-align: center;*/
    /*-ms-flex-align: center;*/
    /*align-items: center;*/
  }

  .wlcart-payments {
    margin-bottom: -30px !important;
  }

  /*.wlcart-payment2 .price-custom {*/

  /*  !*margin-left: 10px;*!*/
  /*  height: 27px;*/
  /*}*/


}


.wlfixed {
  overflow: hidden;
}



.comment_link {
  color: #3C5D90 !important;
  margin-left: 10px;
}

.review_form {
  padding: 44px;

}

.review_form input[type='text'], .review_form textarea {
  border: 1px solid #BED6E1;
  background-color : #fff;
}

.review_form input[type='text'] {
  height: 40px;
  width: 100%;
  margin: 10px 0;
  padding: 0 10px;
}

.review_form input[type='text']:nth-child(1) {
  margin-top: 0;
}

.review_form input[type='text']:nth-child(2) {
  margin-bottom: 0;
}


.review_form input[type='text']::placeholder, .review_form textarea::placeholder {
  color: #606876;
  font-size: 14px !important;
}

.review_form textarea {
  display: inline-block;
  width: 65%;
  height: 100%;
  position: absolute;
  right: 0;
  padding: 10px;
}

.review_form input[type='text']:focus, .review_form textarea:focus {
  -webkit-box-shadow: 0px 0px 13px 9px rgba(190,214,225,0.15);
  box-shadow: 0px 0px 13px 9px rgba(190,214,225,0.15);
}

.review_form_input_block {
  width: 30%;
  display: inline-block;
}

.donation_comment_block {
  margin-left: 27px;
}

.comment_block_fields {
  position: relative;
}

.comment_name {
  display: inline-block;
  position: relative;
}

.comment_name:before {
  content:url('../img/donation/comment-icon.svg');
  position: absolute;
  left: -27px;
}

.comment_date {
  display: inline-block;
  color: #777;
  margin-top: 10px;
}
/*@media (max-width: 600px) {*/
/*  .comment_date {*/
/*    margin-top: 10px;*/
/*  }*/
/*}*/

.comment_content {
  margin-top: 23px;
  margin-bottom: 35px;
  color: #222;
}


.comment_form_block {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  background: #F6F6F6 !important;
  z-index: -1;
}

.comment_form_close {
  cursor: pointer;
}

.comment_close {
  cursor: pointer;
  text-align: center;
  display: block;
  width: 20px;
  position: absolute;
  right: 20px;
  top: 20px;
}

.comment_form_close {
  cursor: pointer;
  text-align: center;
  display: block;
  width: 20px;
  position: absolute;
  right: 10px;
  top: 10px;
}


.open_comment_form_button {
  width: 373px;
  height: 53px;
  margin-top: 30px;
}


.review_popup {
  display: none;
  max-width: 1230px;
  width: 60%;
}

@media (max-width: 768px) {
  .review_popup {
    width: 90%;
  }
}

@media (max-width: 500px) {
  .open_comment_form_button {
    width: 100%;
  }
}


.donation_comments {
  height: 300px;
  overflow: scroll;
}

.donation_comments::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

.donation_comments::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.wlwarninglab {
  display: none;
}

.donation_comment_title {
  font-size: 26px;
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  .comment_block_fields {
    text-align: center;
  }
  .review_form_input_block {
    width: 70%;
  }
  .review_form textarea {
    position: static;
    width: 70%;
    margin-top: 20px;
  }
  .review_form {
    text-align: center;
  }
}

@media (max-width: 500px) {
  .review_form_input_block {
    width: 100%;
  }
  .review_form textarea {
    width: 100%;
  }
}

.comments_link {
  margin-top: 30px;
  margin-left: 5px;
}

.comments_link svg {
  color: transparent;
  width: 19px;
}

.success_comment_message {
  display: none;
  position: absolute;
  top: 5%;
  /*left: 50%;*/
  /*transform: translate(-50%, 0);*/
  width: 100%;
  text-align: center;
}

.donation_raw {
  padding-bottom: 55px;
  margin-bottom: 55px;
  border-bottom: 1px dashed #C4C4C4;
}