form {
  background: none !important;
}

.donation-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}


.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

html, body {
  height: 100%;
  font-family: Montserrat, serif;
  font-style: normal;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

body {
  background: rgb(255, 255, 255);
  /*background: linear-gradient(180deg, rgba(180, 213, 224, 1) 0%, rgba(255, 255, 255, 1) 34%, rgba(255, 255, 255, 1) 100%);*/
  background: no-repeat center 0 url("../img/donation/top.png");
}

.container {
  max-width: 1234px
}

h3 {
  color: #52B0D8;
  font-family: Montserrat, serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: -0.05em;
  text-align: left;
  margin-bottom: 1.5em;

}

h6 {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  color: #A42BB9;
}

p {
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;


}

.btn {
  background: #A42BB9;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  outline: none;
}


.logo {
  display: block;
  margin: 100px 0 80px 0;
  max-width: 300px;
}

.progress-block {
  margin: 1.5em 0 2.5em;
}

.info {
  border: #A42BB9 solid 20px;
  padding: 2em;
  border-bottom: none;
}

.info span {
  display: block;
  margin-top: 1.5em;
  color: #A42BB9;
}


.clip .btn {
  margin-top: 2em;
  width: 336px;
  line-height: 45px;
  border: 0;
}


@media (min-width: 768px) {
  .clip {
    left: 4em;
  }
}

div.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
  border: 5px solid white;
}

.custom_progress_bar progress {
  border-radius: .25rem;
  width: 100%;

}
.custom_progress_bar progress::-webkit-progress-bar {
  background-color: #e9ecef;
  border-radius: .25rem;
}
.custom_progress_bar progress::-webkit-progress-value {
  background-color: #007bff;
  border-radius: .25rem;
}

.price-wrapper {
  /*margin:4px;*/
  /*background: linear-gradient(57.38deg, #9AD7EE 0%, #D195DC 92.86%);*/
  border-radius:4px;
  overflow:hidden;
  float:left;
}

.price-wrapper:hover {
  background: linear-gradient(57.38deg, #9AD7EE 0%, #D195DC 92.86%);
}

.price-wrapper label {
  /*padding: 20px;*/
  margin-bottom: 0;
}

.price-wrapper label .variation-price-text {
  text-align:center;
  display:block;
  border-radius:4px;
  /*padding: 20px;*/
  width: 165px;
  height: 70px;
  line-height: 70px;
}

.price-wrapper label input {
  display: none;
}

.price-wrapper input:hover + .variation-price-text {
  background-color:#f9f6fc;
}

.price-wrapper input:checked + .variation-price-text {
  background-color:#f9f6fc;
  color:#3C5D90;
}


.add-to {
  color: #fff !important;
}

.variations_form {
  text-align: center !important;
}